name: deploy

on:
  push:
    branches: [ "master" ]

jobs: 
  deploy: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build . -t salman0alji/new-app
      - run: echo ${{secrets.DOKERHUB_TOKEN}} | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin
      - run: docker push salman0alji/new-app

